body {
  background-color: rgb(114, 180, 194);
  color: white;
  font-family: helvetica;
  margin-left: 12%;
  margin-right: 12%;
}
header {
  text-align: center;
  padding-bottom: 10px;
}
#count-down {
  font-size: 40px;
  line-height: 0;
  padding-top: 15px;
}
img {
  width: 75px;
}
h1 span {
  font-size: 80px;
  color: rgb(153, 251, 133);
}
p {
  line-height: 150%;
  /*padding: 2%;*/
  font-size: 18px;
}
#one, #two, #three {
  float: left;
  width: 33%
}
.clearfix {
  clear: both;
}
#one img {
  width: 80%;
}
#two img {
  width: 80%;
}
#three img {
  width: 80%;
}
.products {
  text-align: center;
}
ul {
  list-style: none;
}
canvas {
  width: 80%;
}
